<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users list</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<!--<a href="addPerson">Add Person</a>-->
<div class="container">
    <table border="1" class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <th scope="row" th:utext="${user.id}">...</th>
                <td th:utext="${user.firstName}">...</td>
                <td th:utext="${user.lastName}">...</td>
                <td th:utext="${user.age}">...</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>